<% for(var i=0; i < products.length; i++) {%>
    <% if(products[i].category=='visited') {%>
        <a href="/products/<%= products[i].id %>">
            <div class="ultimas-visitas">
                <img src="/images/<%=products[i].image%>" alt="<%=products[i].image%>" class="img-producto">
                <div class="una-caja">
                    <i class="fas fa-truck" id="iconito-verde"></i>                   
                        <div class="parrafo-articulo">
                            <p class="precios"><%= products[i].price %></p>
                            <p class="descuentos"><%= products[i].discount %> % off</p>
                        </div>       
                    <h2 class="article-description"><%= products[i].description %></h2>
                </div>
            </div>
        </a>
    <% }; %>
<% }; %>